.app {
  height: 100%;
}

.header {
  height: 96px;
  text-align: center;
  font-weight: bold;
  line-height: 96px;
  font-size: 28px;
  color: rgb(147, 66, 119);
  padding: 15px 5px 15px 5px;
  background-color: rgb(249, 206, 98);
  border: dotted black 5px;
  user-select: none;
}

.header img {
  height: 96px;
  width: auto;
  border-radius: 30px;
}

.sections {
  /* 100% - height - 2x padding - 2x border */
  height: calc(100% - 96px - 2*15px - 2*5px);
  overflow: scroll;
}

.modal-image {
  height: 256px;
  width: 256px;
  user-select: none;
  cursor: pointer;
}